/**********************************\
 *
 *  List Style Mixins
 *
 *  *******************************/

@mixin vlist() {
  padding: 0;
  list-style: none;
  li {
    display: block;
  }
}

@mixin hlist() {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}
