@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../bower_components/modular-scale/stylesheets/modular-scale";
@import "../bower_components/typi/scss/typi";
@import "mixins";
@import "maps";
@import "variables";

//Box-sizing set to border-box for everything
//And Typi Base
html {
  box-sizing: border-box; 
  height: 100%;
  @include typi-base();
}
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
 }

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: vr(1);
}

h1, .alpha {
  @include typi($h1);
  font-weight: 400;
}

h2, .beta {
  @include typi($h2);
  color: skyblue;
  font-weight: 100;
}

h3, .gamma {
  @include typi($h3);
  color: seagreen;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

p {
  margin-bottom: vr(.5);
}

.rapper {
  @include container(800px);
  padding: 0 12px;
  &-wide {
    @include container(960px);
  }
}

.valign {
  display: flex;
  align-items: center;
}

.btn {
  width: 75px;
  appearance: none;
  border-radius: 3px;
  border: none;
  background: seagreen;
  color: salmon;
  padding: 5px 15px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translate(1px, 1px);
  }
}

a {
  text-decoration: none;
  color: tomato;
  transition: color .2s ease;
  &:hover {
    color: seagreen;
  }
}

/* Navigation */
nav {
  margin: 50px 0;
  @include container();
  font-size: vr(.6);
  > ul {
    @include span (6 of 12 first);
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include susy-breakpoint($mobile) {
      @include span (12 of 12);
    }
    > li {
      display: inline-block;
      flex: 1 0 auto;
      > a {
        color: midnightblue;
      }
    }
  }
}

article {
  @include container();
  margin-bottom: vr(2);
}

.meta {
  display: flex;
  justify-content: space-between;
  a {
    color: gray;
    transition: color .2s ease;
    &:hover {
      color: dimgray;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    > li {
      display: inline-block;
      flex: 1 0 auto;
      padding-right: 1em;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

footer {
  background: #3c3c3c;
  color: #f4f4f4;
  padding: vr(2) 12px;
  ul {
    @include span(3);
    @include vlist;
    @include susy-breakpoint($mobile) {
			@include span(6 first);
		}
  }
  p {
    @include span(6 first);
    @include susy-breakpoint($mobile) {
      @include span(12);
    }
  }
  img {
    @include span(3 last);
    @include susy-breakpoint($mobile) {
      @include span(6 last);
    }
  }
}
