@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../bower_components/typi/scss/typi";
@import "mixins";

//Susy grid settings map 
$susy: (
  columns: 12,
  math: fluid,
  gutters: .25,
	debug: (
			image: hide,
			color: lightgray,
		),
);

//Typi breakpoint map
$breakpoints: (
  small: 800px,
  large: 1200px
);

//Typi settings map
$typi: (
  null: (16px, 1.5),
  small: 18px,
  large: 20px
);

//Site breakpoints
$mobile: max-width 600px;

//Box-sizing set to border-box for everything
//And Typi Base
html,
input,
label,
textarea {
  box-sizing: border-box; 
  height: 100%;
  @include typi-base();
}
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
 }

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}



img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

p {
  margin-bottom: vr(1);
}

.rapper {
  @include container(800px);
  padding: 0 12px;
  &-wide {
    @include container(960px);
  }
}

.valign {
  display: flex;
  align-items: center;
}

.btn {
  width: 75px;
  appearance: none;
  border-radius: 3px;
  border: none;
  background: seagreen;
  color: salmon;
  padding: 5px 15px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translate(1px, 1px);
  }
}

a {
  text-decoration: none;
  color: tomato;
  transition: color .2s ease;
  &:hover {
    color: seagreen;
  }
}

/* Navigation */
nav {
  margin-top: 50px;
  @include container();
  font-size: vr(.6);
  > ul {
    @include span (6 of 12 first);
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include susy-breakpoint($mobile) {
      @include span (12 of 12);
    }
    > li {
      display: inline-block;
      flex: 1 0 auto;
      > a {
        color: midnightblue;
      }
    }
  }
}

article {
  @include container();
  margin-bottom: vr(2);
  > h2 {
    margin-bottom: vr(1);
    font-weight: 100;
  }
}

.meta {
  display: flex;
  justify-content: space-between;
  a {
    color: gray;
    transition: color .2s ease;
    &:hover {
      color: dimgray;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    > li {
      display: inline-block;
      flex: 1 0 auto;
      padding-right: 1em;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

footer {
  background: #3c3c3c;
  color: #f4f4f4;
  padding: vr(2) 0;
  ul {
    @include span(3);
    @include susy-breakpoint($mobile) {
			@include span(6 first);
		}
    padding: none;
    list-style: none;
  }
  p {
    @include span(6 first);
    @include susy-breakpoint($mobile) {
      @include span(12);
    }
  }
  img {
    @include span(3 last);
    @include susy-breakpoint($mobile) {
      @include span(6 last);
    }
  }
}
