doctype html
html
  head
    title Test
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="")
    meta(name="description" content="")
    link(href="css/normalize.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    body
      header.outer
        .inner
          h1.alpha Trout Fishing
          h2.beta In Beautiful Southern Montana
      section.outer
        .inner
          aside.book
            img(src="http://ecx.images-amazon.com/images/I/61vrAQf0D5L._SX258_BO1,204,203,200_.jpg")
          main.info
            h1 Trout Fishing
            h2 In Beautiful Southern Montana
            h4 Clayton Shaw
            p Retired physics engineer. Have authored several technical manuals. 40+ years fishing for trout in the lakes and streams of southern Montana, the premier trout fishing area in the country. Have taught several people to trout fish. Extensive experience on how and where to catch trout, with emphasis on fly fishing.
            button.btn Buy Now
      footer.outer
        .inner
          ul.purchase
            li Buy on Amazon
            li Read Reviews
            li Preview Chapter
            li Recommended Reading
          .copyright
            p Adipisicing nostrum explicabo debitis consequuntur harum facilis dolores incidunt excepturi. Illo debitis nihil assumenda iusto accusantium dicta hic, eius itaque. Beatae ipsum pariatur laudantium nulla dolores at expedita sapiente. Tenetur?
